* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(247, 246, 246);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3em 1em;
  gap: 2.5em;
}
.request-detail-card {
  width: 100%;
  padding: 4em 1em;
  border-radius: 15px;
  box-shadow: 0 -1px 20px -5px rgba(40, 40, 40, 0.858);
  position: relative;
  height: 90vh;
}
.request-detail-card-main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.blue {
  color: blue;
  font-weight: 600;
  font-size: 1.2em;
  padding-right: 0.2em;
}

.accept-button,
.completed-button {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  background-color: rgb(19, 123, 215);
  color: white;
  padding: 1em 2em;
  border-radius: 8px;
  font-size: 1.1em;
  font-weight: 600;
  border: none;
  margin-right: 1em;
  margin-bottom: 1em;
  z-index: 10;
}
.completed-button {
  background-color: rgb(13, 73, 13);
  border: solid green 1px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-weight: 400;
  display: none;
}
.status {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  font-size: 1.1em;
  font-weight: 600;
  z-index: 10;
}
.completed {
  position: absolute;
  color: green;
  bottom: 2em;
  right: 2em;
  font-size: 1.1em;
  display: none;
  z-index: 10;
}
@media (min-width: 900px) {
  .request-detail-card {
    width: 70%;
    padding: 3em;
  }
}
